<!DOCTYPE html>

<html ng-app="projectBlack" ng-class="{'landing': landing}" ng-init="landing = false">

    <head ng-controller="SeoCtrl">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <base href="/">

        <title ng-bind="seoTitle"></title>
        <meta name="description" content="{{seoDesc}}" />
        <meta name="keywords" content="Web Design, Web Designer, app Design, app Designer, Web Development, Web Developer, App Development, App Developer, IOS Apps, Android Apps, Sydney, Australia">
        <meta name="google-site-verification" content="Aaw2VMn91nUpPp7PiDEsDJiYHJQ6HGn7ShHni_LdWwQ" />

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/black-marked.css">


        <meta name="twitter:title" content="{{seoTitle}}">
        <meta name="twitter:card" content="{{seoTitle}}">
        <meta name="twitter:site" content="black-marked.com">
        <meta name="twitter:creator" content="@black_marked">
        <meta name="twitter:description" content="{{seoDesc}}">
        <meta name="twitter:image" content="http://black-marked.com/img/logos/black-marked-logo-twitter.jpg">

        <meta property="og:locale" content="en_AU">
        <meta property="og:title" content="{{seoTitle}}">
        <meta property="og:type" content="Website">
        <meta property="og:image" content="http://black-marked.com/img/logos/black-marked-logo-facebook.jpg">
        <meta property="og:url" content="black-marked.com">
        <meta property="og:site_name" content="Black Marked">
        <meta property="og:description" content="{{seoDesc}}">
        <meta property="fb:admins" content="694930382">


        <!-- http://realfavicongenerator.net/ -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png?v=Nmm43wEv46" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png?v=Nmm43wEv46" sizes="16x16">
        <link rel="manifest" href="/manifest.json?v=Nmm43wEv46">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=Nmm43wEv46" color="#494949">
        <meta name="theme-color" content="#efeded">
        <!-- http://realfavicongenerator.net/ -->


        <meta name="author" content="humans.txt" />
        <link rel="author" href="humans.txt" />

    </head>

    <body ng-controller="MainCtrl as Main">

        <!-- Header -->
        <div header></div>

        <!-- Content -->
        <main ng-view autoscroll> </main>

        <!-- Footer -->
        <div footer></div>

        <!-- build:js -->
        <script src="/js/libs.min.js" type="text/javascript"></script>
        <script src="/js/main.min.js" type="text/javascript"></script>
        <!-- endbuild -->

    </body>

</html>
