@font-face {
    font-family: 'icomoon';
    src: url('../type/icomoon.eot?js2rph');
    src: url('../type/icomoon.eot?js2rph#iefix') format('embedded-opentype'),
         url('../type/icomoon.ttf?js2rph') format('truetype'),
         url('../type/icomoon.woff?js2rph') format('woff'),
         url('../type/icomoon.svg?js2rph#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
