
<section class="row--wide tac">


    <h1>About</h1>

    <div class="feature-round">
        <img src="img/misc/me-2.jpg" class="img feature-round__img js--object_fit" alt="Mark Schwanethal">
    </div>

    <p class="lead">Hey, my name's Mark Schwanethal &amp; I like building things...</p>

    <p>Developing &amp; designing websites, apps, extensions, frameworks, plugins, etc etc, is my passion.</p>

    <p>
        I specialise in everything front-end related. Focusing on scaliable, responsive and crawlable websites. <br>
        Putting your websites right up there with the very best.
    </p>

    <p>I was living in London, UK for 5 years where I worked for the worlds largest skill gaming company as a Senior Front-end Developer.</p>

    <p>Currently I live in Sydney, Australia where I consult, contract &amp; work freelance.</p>

    <p>I enjoy to problem solve and smash my head against the wall, so if you have a problem you can find me on <a href="http://stackoverflow.com/" target="_blank" rel="nofollow">stackoverflow</a> answering questions.</p>

    <p>Interested In working with me? You can get me here.</p>
    <a href="#contact" class="btn btn--accent" title="Contact me!">Work with me</a>

    <p>... or</p>

    <p>Check out my photos on <a href="https://www.instagram.com/hisshash/" target="_blank">instagram</a> or me talking gibberish on <a href="https://twitter.com/black_marked" target="_blank">twitter</a>.</p>

</section>

