
<section class="row feature-section feature-section--office">

    <div class="matrix--wide feature-section__text">
        <h1>Contact</h1>
        <h3>Interested in working with me?</h3>
        <p>Fill out the form below</p>

    </div>

</section>


<section class="row">


    <form class="row--dense" name="contactForm" ng-submit="submitForm(contactForm.$valid)" novalidate>

        <div class="column--12 column--lap--6 pd--rst">
            <div class="textfield">
                <input id="contact--name" class="input textfield__input" type="text" name="name" ng-model="formData.name" value="" placeholder="" required>
                <label class="textfield__label" for="contact--name">Name *</label>
                <!-- <label ng-show="contactForm.name.$invalid && !contactForm.name.$pristine">Invalid</label> -->
            </div>

        </div>

        <div class="column--12 column--lap--6 pd--rst">
            <div class="textfield">
                <input id="contact--company-name" class="input textfield__input" type="text" name="companyName" ng-model="formData.companyName" value="" placeholder="">
                <label class="textfield__label" for="contact--company-name">Company name</label>
                <!-- <label ng-show="contactForm.companyName.$invalid && !contactForm.companyName.$pristine">Invalid</label> -->
            </div>
        </div>

        <div class="column--12 column--lap--8 pd--rst">
            <div class="textfield">
                <input id="contact--email" class="input textfield__input" type="email" name="email" ng-model="formData.email" value="" placeholder="" required>
                <label class="textfield__label" for="contact--email">Email *</label>
                <!-- <label ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">Invalid</label> -->
            </div>
        </div>

        <div class="column--12 column--lap--4 pd--rst">
            <div class="textfield">
                <input id="contact--budget" class="input textfield__input" type="tel" name="budget" ng-model="formData.budget" ng-pattern="/^[0-9]{1,7}$/" value="" placeholder="" required>
                <label class="textfield__label" for="contact--budget">Budget (AUD) *</label>
                <!-- <label ng-show="contactForm.budget.$invalid && !contactForm.budget.$pristine">Invalid</label> -->
            </div>
        </div>

        <div class="textfield">
            <textarea id="contact--message" class="input textfield__input" name="message" ng-model="formData.message" required></textarea>
            <label class="textfield__label" for="contact--message">Message *</label>
            <!-- <label ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">Invalid</label> -->
        </div>

        <div class="column--12 cf">
            <div class="flt--r">
                <button class="btn btn--accent">Lets work</button>
            </div>
        </div>

    </form>

</section>

<div dialog></div>
