
    <section id="hero-img" class="hero hero--home">

        <div class="hero__content">

            <h1 class="hero__title">
                Hey, I'm Mark Schwanethal
            </h1>

            <p class="hero__title--sub">I like building things.</p>

            <a href="#contact" class="btn btn--red">Hire Me</a>

            <div class="hero__social">
                <a href="https://au.linkedin.com/in/markschwanethal" class="icon-linkedin2 btn--trigger" target="_blank"></a>
                <a href="http://stackoverflow.com/users/1893067/mark" class="icon-stackoverflow btn--trigger" target="_blank"></a>
                <a href="https://twitter.com/black_marked" class="icon-twitter btn--trigger" target="_blank"></a>
                <a href="#contact" class="icon-envelope btn--trigger btn--trigger--red"></a>
            </div>

        </div>

        <div class="hero__scroller">
            <i class="icon-angle-down btn--trigger btn--trigger--black"></i>
        </div>

    </section>



    <section id="services" class="row bg--teal--800">

        <h2>Services</h2>
        <p class="italic tac">From Premium Designs to High Spec WordPress Websites</p>

        <div class="row--mid block--services">

            <div class="column--12 column--lap--4">
                <i class="icon-keyboard-o block--services__icon"></i>
                <h4>Develop</h4>
                <p>Building complex, responsive websites and apps is my core skill. <br> Powered by open source Content Management Systems such as WordPress or Magento.</p>
            </div>

            <div class="column--12 column--lap--4">
                <i class="icon-pencil block--services__icon"></i>
                <h4>Design</h4>
                <p>I specialise in design interfaces for websites, web apps and apps. <br>More importantly they integrate seamlessly to your backend and platform.</p>
            </div>

            <div class="column--12 column--lap--4">
                <i class="icon-lightbulb-o block--services__icon"></i>
                <h4>Consult</h4>
                <p>Clear and concise plans are key to your online success; <br>I help you select your online initiatives to help realise your business objectives, opportunities and vision.</p>
            </div>

        </div>

    </section>



    <section class="matrix block--current-work">

        <h2 class="block--current-work__title">Currently Working on...</h2>

        <div websites></div>

    </section>



    <section class="row block--about">

        <div class="row--dense">

            <h2>I'm a Developer living in <b>Sydney</b>, Australia</h2>

            <p>
                Providing high quality besboke websites &amp; apps has been a passion of mine for the last 10 years of my life.<br>

                Creating small to medium sized businesses a great online UI presence is what I'm great at. <br>

                With <b>black marked</b> you're in good hands.
            </p>

        </div>

    </section>



    <section class="row block--companies">

        <div class="row--dense">

            <h2>Some Great Companies I've worked with</h2>

            <ul class="feature-logos">
                <li class="feature-logos__li"><img src="img/logos/allianz.webp" data-og="png" alt="Allianz logo" /></li>
                <li class="feature-logos__li"><img src="img/logos/amp.webp" data-og="png" alt="AMP logo" /></li>
                <li class="feature-logos__li"><img src="img/logos/jetstar.webp" data-og="png" alt="Jetstar logo" /></li>
                <li class="feature-logos__li"><img src="img/logos/gan.webp" data-og="png" alt="GAN logo" /></li>
            </ul>

        </div>

    </section>



    <section id="contact" class="row block--work">

        <div class="row--dense">

            <h2>Lets Work Together</h2>

            <p class="matrix--sml">
                I’m always looking to work with great people &amp; I love to help small to medium size businesses/ startups grow to their full potential!<br>
                Shoot me an email with some details about your project. It would be great to see what you’re up to!
            </p>

            <div>
                <a href="mailto:mark@black-marked.com?Subject=Lets%20Work%20Together" target="_blank" class="icon-envelope block--work__icon"></a>
            </div>

            <a class="block--work__link" href="mailto:mark@black-marked.com?Subject=Lets%20Work%20Together" target="_blank">mark@black-marked.com</a>

        </div>

    </section>

