

<section class="landing__content">

    <h1 class="landing__content__title">
        I'll be back <br>
        In a New York minute.
    </h1>

    <p><a href="mailto://mark@black-marked.com" title="hit me up" target="_blank">Need me? You can get me here.</a></p>

</section>

