

.bg {

  &--blk {
    &--200 {
      background: $colour-black-200;
      color: $colour-white-text;
    }

    &--500 {
      background: $colour-black-500;
      color: $colour-white-text;
    }

  }

  &--teal {

    &--800 {
      background: $colour-teal-800;
      color: $colour-white-text;
    }
  }


  &--pink {

    &--a200 {
      background: $colour-pink-a200;
      color: $colour-white-text;
    }
  }

  &--gry {

    &--100 { background: $colour-grey-100; }
    &--200 { background: $colour-grey-200; }
    &--300 { background: $colour-grey-300; }
  }

}

.tc {
  &--indigo { color: $colour-indigo-800; }
  &--pink { color: $colour-pink-a200; }
  &--accent { color: $colour-red-600; }
  &--white { color: $colour-white-text; }
}
