
// Hide/ show elements depending if your on your view

.for {

  &--palm {
    @include media(lap) {
      display: none $imp;
    }
  }

  &--lap {
    display: none;

    @include media(lap) {
      display: block;

      &--ib { display: inline-block; }
    }

  }
}


.vis {

  &--h { visibility: hidden; }
}


