
<section class="row feature-section feature-section--office tac">

    <div class="matrix feature-section__text">

        <i class="micro-sub-heading">A retrospective showcase</i>
        <h1>Building Cooltrax the App</h1>

    </div>

</section>



<section class="matrix bg--gry--300">

    <div class="row">
        <h3 class="tac">Overview</h3>
    </div>


    <div class="matrix--mid">

        <div class="column--12 column--lap--7">
            <h5>About the project</h5>

            <p>Cooltrax the app was an iOS &amp; Android app built for the technicians working with the company BevWizz.</p>

            <p>
                BevWizz needed a way to know what job a technician was currently doing and or going to do in that day.<br>
                They also needed to know how long the job would take, what was the problem, how much would/ did it cost to complete the work, where they currently was, etc.
            </p>

            <p>Before the app was built the only way the staff could find out all these answers was to physically call the technician and ask them, which was a huge drain on time &amp; resources.</p>
        </div>

        <div class="column--12 column--lap--5">
            <h5>My role</h5>

            <p>
                As the senior Front-end developer, it was my job to build, test, oversee and advise on all things front-end related.<br>

                This includes but was not limited to;
            </p>


            <ol class="list--decimal">
                <li>Setting out the development structure of the project</li>
                <li>Defining naming conventions</li>
                <li>Utilising the best framework</li>
                <li>Ensuring well written, manageable code</li>
                <li>Utilising automated scripting</li>
                <li>And much more</li>
            </ol>

        </div>

    </div>


</section>




<section class="row">


    <div class="row">
        <h3 class="tac">The challenge</h3>
    </div>


    <div class="matrix--dense">

        <div class="column--12">

            <h5>Project background.</h5>

            <p>
                Cooltrax the app needed to be lightweight, easy to use &amp; reliable. We needed to make sure it worked across all devices; tablets &amp; mobiles. <br>

                But most importantly, it needed to do the following things;
            </p>

            <ol class="list--decimal">
                <li><b>Take photos:</b> So BevWizz could clearly see the issues that the tech was facing.</li>
                <li><b>Get location:</b> BevWizz wanted to know where technicians were so they could easily send them new jobs that was closest to them.</li>
                <li><b>Push notifications:</b> When jobs were offered we needed to alert the tech of this.</li>
                <li><b>Auto update:</b> This may seem like a small deal, however Cooltrax the App wasn't hosted in the Play or App store. So we needed to manually check if the techs app version was up to date &amp; if not trigger an auto update.</li>
            </ol>

        </div>

        <div class="column--12">
            <h5>The problem</h5>

            <p>
                When I first came to BevWizz as a consultant, Cooltrax the App was already being used by the technicians out in the field. <br>
                BevWizz knew the App was really their selling point to getting new technicians &amp; clients on board. As work needed to be approved by BevWizz and the client, this would really give the client peace of mind &amp; not to mention everything being logged for everyone’s safety.
            </p>

            <p>
                However the overall view by the technicians using the app and the staff was simply that, “it works”.

                We wanted to create something better. Not only improving the look of the app but also the users experience on the app.
            </p>

            <p>We wanted techs to say, “this is great”.</p>
        </div>

    </div>

</section>




<section class="matrix bg--gry--100">


    <div class="row">
        <h3 class="tac">Process, Insight &amp; Solution</h3>
    </div>


    <div class="row divider--b pdb--rst mgb">

        <div class="matrix--mid">

            <div class="column--12 column--lap--6">
                <h5>Apache Cordova</h5>

                <p>
                    My team at BevWizz was a small but talented group. But due to our limited size and resources it was out of the question to build a native app (an application that has been developed for use on a particular platform or device).<br>

                    We chose to build the app utilising cordova.
                </p>

                <p>
                    Cordova is an open-source, cross-device mobile development platform that allowed us to create mobile apps using JavaScript, HTML, and CSS that can be deployed to each device, rather than programming in each device's native language. <br>

                    Cordova also provides a way for us access the core mobile hardware like accelerometer, camera, contacts, and GPS.
                </p>

            </div>

            <div class="column--12 column--lap--6 tac pdb--rst">
                <img src="img/showcase/cooltrax-app/hand-settings.webp" class="img img--1004" data-og="png" alt="mendr responsive design">
            </div>

        </div>

    </div>






    <div class="matrix--dense">

        <div class="column--12">

            <h5>Frameworks</h5>

            <p>
                For an app like cooltrax we needed a solid framework that could handle the advanced tasks that we were faced with.<br>

                We needed to be able to break down large chunks of layout and code then inject them multiple times across the site, while also using a language that everyone is familiar with.
            </p>

            <p>For this we chose Google’s own, AngularJS. Arguably the most powerful framework on the market at this current time. With its seamless integration with Cooltrax's existing backend and it's easy to use syntax, it was an unanimous decision.</p>

        </div>

    </div>


    <div class="matrix--dense">

        <div class="column--12">

            <h5>The look</h5>

            <p>
                Cooltrax the app originally was a very dark app, there was a lot of dark blues, blacks and greys.<br>
                What this did was give the app a very corporate look and feel, and sometimes hard to read important text on the screen.
            </p>

            <p>
                As there was no designer for this project I took inspiration from Google’s own material design, to create a familiar and easy to use app. I also relied heavily on icons for a user's association with an action, this allowed the user to quickly know what to do without cluttering up the view with too many words.
            </p>

            <p>
                Some key principles that I took using Google’s material design was to use different opacity on text to distinguish the importance of that text. For example primary text should be at 87% while secondary text should be displayed at 54%.
                I used opacity over grey as black or white text that is transparent remains legible and vibrant against background colours, which makes it more flexible than grey.
            </p>

        </div>
    </div>


</section>



<section class="matrix">

    <div class="row">
        <h3 class="tac">The Results</h3>
    </div>

    <div class="matrix--dense">
        <div class="column--12">

            <p>
                From day one the techs loved the new clean app. <br>
                The overall time that it took a tech to complete each job was drastically cut. Techs could now navigate all jobs and manage them easier. <br>
                To this day around 98% of all BevWizz techs are using the new app.
            </p>

            <p>There was also a plus side for new developers joining BevWizz. They were better able to navigate the project, add new features and to bug test.</p>

            <p>Overall a great success.</p>

        </div>
    </div>

</section>



