
<section class="row feature-section feature-section--office tac">

    <div class="matrix feature-section__text">

        <i class="micro-sub-heading">An in-depth retrospective showcase</i>
        <h1>Building Empire City</h1>

    </div>

</section>



<section class="matrix">

    <div class="row">
        <h3 class="tac">Overview</h3>
    </div>

    <div class="row--mid tac mgb--rst">
        <p>Coming soon</p>
        <p>Sorry about that</p>
        <p>These showcases take a long time</p>
    </div>

<!--
    <div class="matrix--mid">

        <div class="column--12 column--lap--7">
            <h5>About the project</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
        </div>

        <div class="column--12 column--lap--5">
            <h5>My role</h5>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                This includes but was not limited to;
            </p>


            <ol class="list--decimal">
                <li>Setting out the development structure of the project</li>
                <li>Defining naming conventions</li>
                <li>Utilising the best framework</li>
                <li>Ensuring well written, manageable code</li>
                <li>Utilising automated scripting</li>
                <li>Browser support</li>
                <li>And much more</li>
            </ol>

        </div>

    </div>
 -->

</section>
