
<section class="row feature-section feature-section--runaway tac">

    <div class="matrix feature-section__text">

        <h1>Runaway Pets</h1>
        <h4>Building the App</h4>
        <i class="micro-sub-heading">An in-depth retrospective showcase</i>

        <div class="row--dense tac">
            <a href="https://itunes.apple.com/us/app/runaway-pets/id1148260739?ls=1&mt=8" title="Runaway Pets iOS App" target="_blank">
                <img src="img/badges/appstore.webp" alt="Runaway pets ios app badge">
            </a>
            <a href="https://play.google.com/store/apps/details?id=co.runawaypets.runawaypets" title="Runaway Pets Android App" target="_blank">
                <img src="img/badges/google-play-badge.webp" alt="Runaway pets Android app badge">
            </a>
        </div>
        <div class="row--dense tac">
            <a href="http://runawaypets.co" title="Runaway Pets Website" target="_blank">
                RunawayPets.co
            </a>
        </div>

    </div>

</section>


<section class="matrix bg--gry--300">

    <div class="row">
        <h3 class="tac">Overview</h3>
    </div>


    <div class="matrix--mid">

        <div class="column--12 column--lap--7">
            <h5>About the Project</h5>

            <p>
                Over 10 million pets run away every year &amp; only 1 in 10 are ever reunited with their owners.
                That statistic hit me pretty hard &amp; I personally wanted to help get those numbers up.
            </p>

            <p>
                I sat down and started to plot out the best way to achieve this goal and how to reach the most people and to build an app was the best solution.
            </p>

        </div>

        <div class="column--12 column--lap--5">
            <h5>My Role</h5>

            <p>
                This was my project and I was the only person working on it, so I had the following tasks to do;
            </p>


            <ol class="list--decimal">
                <li>SettingDesign the brand identity (colour schemes, logo &amp; the look and feel of the app)</li>
                <li>DefiningDecide on the best front-end frameworks &amp; languages to use</li>
                <li>UtilisingDecide on the best back-end frameworks &amp; languages to use</li>
                <li>Device support</li>
                <li>Market the app &amp; create marketing material</li>
                <li>And much more</li>
            </ol>

        </div>

    </div>


    <div class="matrix tac">
        <img src="img/showcase/runaway-pets/runaway-pets-hand.webp" class="img img--612" data-og="png" alt="mendr homepage">
    </div>

</section>


<section class="row">


    <div class="row">
        <h3 class="tac">The Challenge</h3>
    </div>


    <div class="matrix--dense">

        <div class="column--12">

            <h5>Project Background.</h5>
            <p>
                So what do you do when you lose a pet? There’s not really a manual written for something like this. A quick google search will tell you to contact shelters, vets, etc. Then start posting on social media and hope it catches someone's attention. You may even post flyers around your block.
                But to do all of this is hard work and takes a lot of time, a lot of effort and potentially a lot of cash.
            </p>

            <p>I just wanted to make it easier and quicker.</p>
        </div>

        <div class="column--12">
            <h5>The Problem</h5>

            <p>
                Creating an app like this requires one thing. Users. Without users nobody get notified of your lost pet.
            </p>

            <p>
                We use the poster (which is the person who has either lost or found a pet), to advertise for us. With one click of a button they can share their post with all their social media friends.
                We also encourage users of the app to rate once post is complete.
            </p>
        </div>


    </div>

    <div class="matrix--dense tac">
        <a class="twitter-follow-button" href="https://twitter.com/runawaypets">Follow @runawaypets</a>
        <a href="https://www.instagram.com/runawaypets/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
    </div>

</section>


<section class="matrix bg--gry--100">


    <div class="row">
        <h3 class="tac">Process, Insight &amp; Solution</h3>
    </div>



    <div class="matrix--dense">

        <div class="column--12">
            <h5>App Must-Haves</h5>

            <h6>Mapping</h6>
            <p>
                Firstly we need to know where the pet was last seen. Using Google Maps was always going to be the best bet as the added features and support they provide is second to none. So with a simple touch on the map we knew the street, city, post/ zip code &amp; country, where the pet was last seen.
            </p>

            <h6>Camera/ Image Upload</h6>
            <p>
                We need to know what the lost or found pet looks like so being able to use the phone's camera or internal storage was a must.
            </p>

            <h6>Notifications</h6>
            <p>
                When a lost or found post has been created, we want to let everyone in that area know.
                We do this via push notifications &amp; a simple click on the notification will give you the pets detail.
            </p>

            <h6>Communication</h6>
            <p>
                We utilise the phone's built in communication methods to contact posters. <br>
                One touch of a button and up pops your email client or a method to call the poster.
            </p>

            <h6>Social</h6>
            <p>
                We wanted to make it super simple to get the word out that your pet is either missing or has been found. So in one touch you can share your pet's detail to either facebook, twitter or instagram & pre hashtagged to make it even easier!
            </p>

        </div>

    </div>


    <div class="matrix--dense">

        <div class="column--12">

            <h5>Front-End Frameworks</h5>

            <p>
                Runaway Pets needed a solid framework that could handle the advanced tasks that was needed for the app.<br>

                I needed to be able to split up large chunks of layout and code and reuse modules across the entire app.
            </p>

            <p>For this i decided to use Google's own, AngularJS.</p>

        </div>

    </div>


    <div class="matrix--dense">

        <div class="column--12">

            <h5>Back-End Frameworks</h5>

            <p>
                Apart from the odd tinkering around with a WordPress or Magento website, I’ve usually kept my hands clean from the back-end languages and processes.<br>
                So naturally i decided to go with a language I know extremely well. JavaScript.
            </p>

            <p>
                NodeJS was my go to for creating a REST API due to the fact that I know JavaScript, (ES6).<br>
                Node is also insanely fast due to its ‘V8 Engine’ that was developed by Google &amp; another huge bonus for me was how many plugins have been written to manage so many tasks, such as pagination, IAP validation, etc. This alone probably saved me hundreds of development hours.
            </p>

        </div>
    </div>

    <div class="matrix--dense">

        <div class="column--12">

            <h5>Platforms</h5>

            <p>I decided to release the app on the two most popular platforms, iOS and Android.</p>

            <h6>Android</h6>
            <p>
                Android is truly a dream everything just seems to work and work well. When it comes to implementing a new feature or creating a hotfix patch, the process of working with Android is great! However due to the nature of Android Apps being so easy to make means they get stolen, and stolen a lot. Also In App Purchases (IAP’s) can be hacked easily so make sure you validated all purchases.
            </p>

            <h6>Apple</h6>
            <p>
                I wish apple was half as good as Android when it comes to app development, they truly <b>suck</b>.<br>
                Firstly getting a developer licence for apple costs around 4x as much as Android. Trying to set up as a business takes around 4 weeks, they continuously change requirements for app publishments...<br>
                <i>*Sigh*</i> Lets just leave it there as I could go on for days about how bad apple are.
            </p>

        </div>
    </div>


    <div class="matrix tac">
        <img src="img/showcase/runaway-pets/runaway-pets-notification.webp" class="img img--1024" data-og="png" alt="mendr responsive design">
    </div>




</section>


<section class="matrix">

    <div class="row">
        <h3 class="tac">The Results</h3>
    </div>

    <div class="matrix--dense">
        <div class="column--12">

            <h2>Going good, but still have far to go!</h2>

            <p>
                It's still early days for Runaway Pets, with new features and improvements in the wire.<br>
                Even still we’re getting a steady flow of users posting, a healthy following on social media &amp; great rating on both Apple &amp; Android app stores.
            </p>

            <p>
                If you're interested in supporting Runaway Pets, get the app!
            </p>

        </div>
    </div>

    <div class="matrix--dense tac">
        <a href="https://itunes.apple.com/us/app/runaway-pets/id1148260739?ls=1&mt=8" title="Runaway Pets iOS App" target="_blank">
            <img src="img/badges/appstore.webp" alt="Runaway pets ios app badge">
        </a>
        <a href="https://play.google.com/store/apps/details?id=co.runawaypets.runawaypets" title="Runaway Pets Android App" target="_blank">
            <img src="img/badges/google-play-badge.webp" alt="Runaway pets Android app badge">
        </a>
    </div>

</section>


<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<!-- <section>

    <h2>That's it!</h2>

</section>
 -->
