
<section class="row feature-section feature-section--office tac">

    <div class="matrix feature-section__text">

        <i class="micro-sub-heading">A retrospective showcase</i>
        <h1>Building Tchoidesign</h1>

    </div>

</section>



<section class="matrix bg--gry--300">

    <div class="row">
        <h3 class="tac">Overview</h3>
    </div>


    <div class="matrix--mid">

        <div class="column--12 column--lap--7">
            <h5>About the project</h5>

            <p>Tchoidesign is my ex colleague and good friend, Jeremie Erimitchoi’s, web design portfolio.</p>

            <p>Me and Jeremie worked together at GameAccount Network in London, where Jeremie was my front-end teams web designer.</p>

            <p>Jeremie approached me in 2015 to build him a simple and clean website where he could showcase all his web and logo design work.</p>
        </div>

        <div class="column--12 column--lap--5">
            <h5>My role</h5>

            <p>
                I was the sole developer for this project so to go along with my normal duties I also had to think about server side backend development.<br>

                Some of my duties and responsibilities include;

            </p>


            <ol class="list--decimal">
                <li>Setting out the development structure of the project</li>
                <li>Defining naming conventions</li>
                <li>Utilising the best framework</li>
                <li>Ensuring well written, manageable code</li>
                <li>Utilising automated scripting</li>
                <li>Browser support</li>
                <li>And much more</li>
            </ol>

        </div>

    </div>

    <div class="matrix tac">
        <img src="img/showcase/tchoi/showcase-mac.webp" class="img img--1024" data-og="png" alt="tchodesign homepage">
    </div>

</section>


<section class="row">


    <div class="row">
        <h3 class="tac">The challenge</h3>
    </div>


    <div class="matrix--dense">

        <div class="column--12">

            <h5>Project background.</h5>
            <p>
                Jeremie needed me to develop his website idea’s into a functional working website where he could showcase his web/ logo designs. <br>
                He wanted to produce a look that you were in outer space, each planet marking different skill levels and marking different websites that he had designed over the course of his career. <br>
                The website is essentially a one page website. Everything you need to know is on the homepage including a contact form at the bottom. However, you can click on the different planets to get a closer in depth look of the work that was done.
            </p>
        </div>

        <div class="column--12">
            <h5>The problem</h5>

            <p>
                Due to the website having an “outer space” theme there came some challenging development work that was needed.
                The biggest issue was with position all the individual elements. For example the planets that are orbiting around the main logo star, they need to match the background position as the page responds for different devices.
            </p>
        </div>

    </div>


    <div class="matrix tac">
        <img src="img/showcase/tchoi/showcase-responsive.webp" class="img img--1325" data-og="png" alt="tchodesign homepage">
    </div>

</section>
