
<section class="row feature-section feature-section--office tac">

    <div class="matrix feature-section__text">

        <h1>Zensation Tea House</h1>
        <i class="micro-sub-heading">An in-depth retrospective showcase</i>

    </div>

</section>


<section class="matrix bg--gry--300">

    <div class="row">
        <h3 class="tac">Overview</h3>
    </div>


    <div class="matrix--mid">

        <div class="column--12 column--lap--7">
            <h5>About the Project</h5>

            <p>Zensation is a popular Tea House in <b>Redfern, Sydney</b>. Echoing the stylings of a 1920s Shanghai Tea House. It's a truly unique experience to sit down relax and try the <b>best tea</b> in Australia while eating some delicious <b>Yum Cha</b>!</p>

            <p>The company is owned by father &amp; daughter team Raymond and Christina Leung who want to expand their world class tea to the whole of Australia &amp; soon the World!</p>

        </div>

        <div class="column--12 column--lap--5">
            <h5>My Role</h5>

            <p>
                I was approached by Raymond &amp; Christina to design and develop an Ecommerce shop that was simple to use yet powerful enough to allow them to grow and develop as there needs change.
            </p>


            <ol class="list--decimal">
                <li>Designing the UI &amp; UX for the company</li>
                <li>Deciding on Ecommerce packages based on clients needs</li>
                <li>Setting up the config for the branding guidelines</li>
                <li>Developing the website</li>
                <li>Continuous support &amp; future feature development</li>
                <li>Browser support</li>
            </ol>

        </div>

    </div>


    <div class="matrix tac">
        <img src="img/showcase/zensation/showcase-mac.webp" class="img img--1024" data-og="png" alt="Zensation homepage">
    </div>

</section>


<section class="row">


    <div class="row">
        <h3 class="tac">The Challenge</h3>
    </div>


    <div class="matrix--dense">

        <div class="column--12">

            <h5>Project Background.</h5>
            <p>
                In my opinion, Zensation sells the best tea In Australia so when I was approached to set up their brand identity and help them expand online. I was more than happy to help!
            </p>
        </div>

    </div>

</section>


<section class="matrix bg--gry--100">


    <div class="row">
        <h3 class="tac">Process, Insight &amp; Solution</h3>
    </div>



    <div class="matrix--dense">

        <div class="column--12">
            <h5>Branding, UI &amp; UX</h5>

            <p>
                I worked closely with Zensation during the branding, UI &amp; UX planning stage.<br>

                Needing to know exactly what they wanted and how they wanted the design to look. After the initial designs we’re completed and signed off I was ready to start on the development.
            </p>

        </div>

    </div>



    <div class="matrix--dense">

        <div class="column--12">

            <h5>Frameworks &amp; Ecommerce packages</h5>

            <p>
                As I mentioned before building an Ecommerce website is a lot of work. With so many great Ecommerce packages available it makes no sense to start from scratch.<br>

                Taking into consideration Zensations needs &amp; future growth, I decided to use the popular OpenCart software.
            </p>

            <p>
                One major downside with OpenCart is that it uses Twitter’s Bootstrap &amp; it’s really engrained deep. Although after a few hours I was able to remove around 90% of it.
            </p>

        </div>

    </div>



    <div class="matrix tac">
        <!-- <img src="img/showcase/zensation/showcase-macbook-mendr.webp" class="img img--1024" data-og="png" alt="mendr code &amp; layout"> -->
    </div>



    <div class="matrix--dense">

        <div class="column--12">


            <h5>Fallbacks</h5>

            <p>
                Using the latest tools available ultimately means that browsers can fall behind. If you’re one of the 5% who still use IE or Edge then I highly advise you to make the switch to <b>Chrome</b> or <b>Firefox</b>. But some people/ organisations unfortunately can't do this, so being able to support these browsers to give the end users a decent viewing experience is important. For this I used a number of <b>Polyfills</b> &amp; <b>SHIV’s</b>, The aim of these packages is to provide the next best thing for the browser. For example the “header” element, the <b>SHIV</b> detects the browser doesn't know what this element is and so it converts it to something that it does know. For advanced styling detection I used <b>Modernizr</b> which simply tells me if the browser can handle styling related attributes, if it doesn't I can then rewrite my code to fallback to something the browser would know.
            </p>

        </div>
    </div>



    <div class="matrix--dense">

        <div class="column--12">


            <h5>Speed Matters</h5>

            <p>

              Ecommerce websites are usually slow and a bit clunky. <i>They do do a hell of a lot though so they can be forgiven</i>. <br>

              However I wanted to optimise Zensation’s website as much as possible.<br>

              Utilising Gulp <i>(my javascript task runner of choice)</i> I was able to compress all my stylesheets and scripts to one of each, and minified them heavily.<br>

              Also compressing each .tpl file of my theme, along with gzip &amp; cache made the website lightning quick!

            </p>


        </div>

    </div>


    <div class="row pdb--rst tac">
        <img src="img/showcase/zensation/showcase-responsive-2.webp" class="img img--1325" data-og="png" alt="Zensation responsive design">
    </div>


</section>


<section class="matrix">

    <div class="row">
        <h3 class="tac">The Results</h3>
    </div>

    <div class="matrix--dense">
        <div class="column--12">

            <p>
                The website has just been made live, but already has a steady flow of clients and orders coming through.
            </p>

            <p>

              With a good marketing plan and new products being uploaded every day not to mention more countries being made available to ship to I think Zensation will be huge!

            </p>

        </div>
    </div>

</section>


<!-- <section>

    <h2>That's it!</h2>

</section>
 -->
