
$img-max: (
  '316': 316,
  '612': 612,
  '1004': 1004,
  '1024': 1024,
  '1325': 1325
);



.img {
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;

  &--50 { width: 50%; }


  // @each $size, $value in $img-max {
  //   &--#{$size} {
  //     max-width: #{$value}px;
  //   }
  // }

}

.object-fit--fallback {
  background-position: center center;
  background-size: cover;
}
