
li {

  > ul,
  > ol {
    margin-bottom: 0;
  }


}

ul,
ol {

  &.list--alpha {
    line-height: 1.8;
    list-style-type: lower-alpha;
  }

  &.list--decimal {
    line-height: 1.8;
    list-style-type: decimal;
  }

}
