
::selection {
  background: $colour-black;
  color: $colour-white-text;
}

::-moz-selection {
  background: $colour-black;
  color: $colour-white-text;
}


html {
  background: $colour-grey-50;
  color: $colour-black-text;
  font-family: $font-main;
  font-size: 62.5%;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  &.landing { height: 100%; }
}


body {
  @include font-size($font-size-primary);
  font-family: $font-main;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height;
}


main {
  &.ng-enter { @include animation(fadein, .1); }
  // &.ng-leave { @include animation(fadeout, .2); }

}

