

p {
  line-height: 1.5;

  &.lead {
    @include font-size($font-size-h5);
  }


}

.small {
  @include font-size($font-size-secondary);
}

.large {
  @include font-size($font-size-centi);
}

.milli {
  @include font-size($font-size-milli);
}

.micro {
  @include font-size($font-size-micro);
}
