

.bold,
b { font-weight: $font-weight-medium; }


.italic,
i { font-style: italic; }

.link,
a {
  color: $colour-blue-400;
  cursor: pointer;
  display: inline-block;
  outline: none;
  text-decoration: none;

  &.tdn { text-decoration: none; }
}
