
<section ng-show="dialogVisible === true;" class="mask mask--black">

    <i ng-click="dialogVisible = false;" class="mask__close icon-cross"></i>

    <div class="dialog dialog--text">

        <h1>{{dialog.title}}</h1>
        <p>{{dialog.paragraph}}</p>

    </div>

</section>
