
<footer>

    <div class="footer__social">


        <div class="social__links">
            <a href="http://stackoverflow.com/users/1893067/mark" target="_blank" class="btn--trigger" title="My stackoverflow account">
                <i class="icon-stackoverflow"></i>
            </a>
            <a href="https://au.linkedin.com/in/markschwanethal" target="_blank" class="btn--trigger" title="My linkedIn account">
                <i class="icon-linkedin2"></i>
            </a>
            <a href="https://github.com/hisshash" target="_blank" class="btn--trigger" title="My github account">
                <i class="icon-github"></i>
            </a>
            <a href="https://twitter.com/black_marked" target="_blank" class="btn--trigger" title="My twitter account">
                <i class="icon-twitter"></i>
            </a>
        </div>

    </div>


    <div class="footer__copy">&copy; black marked </div>

</footer>

