

<div class="tiles" ng-controller="WebsitesCtrl">

    <div
        class="tiles__tile"
        ng-class="{
            'column--6 column--lap--4 column--desktop--2': homepageView,
            'column--12 column--lap--4 column--desktop--3 column--wide--2': portfolioView
        }"
        ng-repeat="website in websites | limitTo: filterLimit track by $index"
    >

        <a class="tiles__tile__content" ng-href="{{website.link}}">
            <img class="img" alt="{{website.name}} showcase" ng-src="{{website.logoPath}}.jpg">
            <!-- Chnage this to webp and provide a fallback in the future -->
            <h3> {{website.name}} </h3>
        </a>

    </div>

</div>
