
<ul class="bxslider">
    <li>
        <a href="#portfolio/runaway-pets">
            <img src="img/slider/runaway-pets.webp" class="img" alt="">
        </a>
    </li>
    <li>
        <a href="#portfolio/mendr">
            <img src="img/slider/mendr.webp" class="img" alt="">
        </a>
    </li>
</ul>

