

.btn {
  @include font-size($font-size-tertiary);
  @include transition(all, .2);
  @include border-radius(3px);
  background: $colour-grey-200;
  border: 1px solid $colour-transparent;
  color: $colour-black-text;
  cursor: pointer;
  display: inline-block;
  font-family: $font-main;
  font-style: italic;
  font-weight: $font-weight-light;
  margin-bottom: $spacing-secondary;
  outline: none;
  padding: $spacing-secondary;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;



  &--red {
    background: $colour-red-500;
    color: $colour-white-text;
  }

  &--accent {
    background: $colour-red-600;
    color: $colour-white-text;
    text-shadow: 0 -1px 0 $colour-black-secondary-text;

    &:active {
      background: $colour-red-700;
      text-shadow: 0 1px 0 $colour-black-secondary-text;
    }
  }
}
