

.btn--trigger {
  @include transition(color, .2);
  @include font-size($font-size-icon);
  color: $colour-white-icons;
  cursor: pointer;
  display: inline-block;
  padding: $spacing-secondary;

  &--black { color: $colour-black-icons; }

  &--red { color: $colour-red-400; }

}
