
$dividers: (
  t: '-top',
  r: '-right',
  b: '-bottom',
  l: '-left',
  a: ''
);

.divider {

  @each $pos, $attr in $dividers {
    &--#{$pos} {
      border#{$attr}: 1px solid $colour-black-dividers;
    }
  }

}
