
[class^="icon-"],
[class*=" icon-"] {
  @include transition(color, .3);
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-rocket:before {
  content: "\e9a5";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-keyboard-o:before {
  content: "\f11c";
}
.icon-user-secret:before {
  content: "\f21b";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}



.icon-stackoverflow {
  color: $colour-amber-800;

  &:hover { color: $colour-amber-700; }
}

.icon-linkedin2 {
  color: $colour-blue-800;

  &:hover { color: $colour-blue-700; }
}

.icon-github {
  color: $colour-grey-800;

  &:hover { color: $colour-grey-700; }
}

.icon-twitter {
  color: $colour-blue-500;

  &:hover { color: $colour-blue-400; }
}



