

.input {
  @include border-radius(3px);
  @include font-size($font-size-tertiary);
  @include transition(all, .3);
  background: $colour-grey-100;
  border: 2px solid $colour-transparent;
  border-bottom-color: $colour-grey-200;
  display: block;
  font-family: $font-main;
  outline: none;
  padding: $spacing-secondary;
  width: 100%;

  &:hover { background: $colour-grey-200; }

  &:focus {
    background: $colour-grey-200;
    border-bottom-color: $colour-teal-500;
  }

}
