
.mask {
  @extend %flexbox;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  &--black { background: $colour-black-900; }

  // ------------------------------------------------ //
  // Icon to close the mask
  &__close {
    @include font-size($font-size-h4);
    color: $colour-white-secondary-text;
    cursor: pointer;
    padding: $spacing-secondary;
    position: absolute;
    right: 0;
  }

}
