

.quote {

  &:before {
    content: '\201C';
    display: inline-block;
    font-size: 200%;
    vertical-align: middle;
  }

  &:after {
    content: '\201D';
    display: inline-block;
    font-size: 200%;
    vertical-align: middle;
  }

}
