@import 'colours/sassy-palette';


// Branding colours
$colour-transparent: rgba(255, 255, 255, .0);


// Black colour
$colour-black: sp-color('black', '500', $palette) !default; // #000
$colour-black-text: sp-color('black', 'text', $palette) !default; // rgba(0,0,0,0.87)
$colour-black-secondary-text: sp-color('black', 'secondary-text', $palette) !default; //rgba(0,0,0,0.54)
$colour-black-icons: sp-color('black', 'icons', $palette) !default; // rgba(0,0,0,0.54)
$colour-black-disabled: sp-color('black', 'disabled', $palette) !default; // rgba(0,0,0,0.26)
$colour-black-hint-text: sp-color('black', 'hint-text', $palette) !default; // rgba(0,0,0,0.26)
$colour-black-dividers: sp-color('black', 'dividers', $palette) !default; // rgba(0,0,0,0.12)

$colour-black-200: #2c353a !default;
$colour-black-300: #222b2f !default;
$colour-black-400: #504D4F !default;
$colour-black-500: #242625 !default;
$colour-black-900: rgba(0, 0, 0, .95) !default;


// White colour
$colour-white: sp-color('white', '500', $palette) !default; //#fff
$colour-white-text: sp-color('white', 'text', $palette) !default; //#fff
$colour-white-secondary-text: sp-color('white', 'secondary-text', $palette) !default; //rgba(255,255,255,0.7)
$colour-white-icons: sp-color('white', 'icons', $palette) !default; //#fff
$colour-white-disabled: sp-color('white', 'disabled', $palette) !default; //rgba(255,255,255,0.3)
$colour-white-hint-text: sp-color('white', 'hint-text', $palette) !default; //rgba(255,255,255,0.3)
$colour-white-dividers: sp-color('white', 'dividers', $palette) !default; //rgba(255,255,255,0.12)



// Grey colour
$colour-grey-50: sp-color('grey', '50', $palette) !default; // #fafafa
$colour-grey-100: sp-color('grey', '100', $palette) !default; // #f5f5f5
$colour-grey-200: sp-color('grey', '200', $palette) !default; // #eeeeee
$colour-grey-300: sp-color('grey', '300', $palette) !default; // #e0e0e0
$colour-grey-400: sp-color('grey', '400', $palette) !default; // #bdbdbd
$colour-grey-500: sp-color('grey', '500', $palette) !default; // #9e9e9e
$colour-grey-600: sp-color('grey', '600', $palette) !default; // #757575
$colour-grey-700: sp-color('grey', '700', $palette) !default; // #616161
$colour-grey-800: sp-color('grey', '800', $palette) !default; // #424242
$colour-grey-900: sp-color('grey', '900', $palette) !default; // #212121



// Red colour
$colour-red-50: sp-color('red', '50', $palette) !default; // #ffebee
$colour-red-100: sp-color('red', '100', $palette) !default; // #ffcdd2
$colour-red-200: sp-color('red', '200', $palette) !default; // #ef9a9a
$colour-red-300: sp-color('red', '300', $palette) !default; // #e57373
$colour-red-400: sp-color('red', '400', $palette) !default; // #ef5350
$colour-red-500: sp-color('red', '500', $palette) !default; // #f44336
$colour-red-600: sp-color('red', '600', $palette) !default; // #e53935
$colour-red-700: sp-color('red', '700', $palette) !default; // #d32f2f
$colour-red-800: sp-color('red', '800', $palette) !default; // #c62828
$colour-red-900: sp-color('red', '900', $palette) !default; // #b71c1c
$colour-red-a100: sp-color('red', 'a100', $palette) !default; // #ff8a80
$colour-red-a200: sp-color('red', 'a200', $palette) !default; // #ff5252
$colour-red-a400: sp-color('red', 'a400', $palette) !default; // #ff1744
$colour-red-a700: sp-color('red', 'a700', $palette) !default; // #d50000



// Amber colour
$colour-amber-50: sp-color('amber', '50', $palette) !default; // #fff8e1
$colour-amber-100: sp-color('amber', '100', $palette) !default; // #ffecb3
$colour-amber-200: sp-color('amber', '200', $palette) !default; // #ffe082
$colour-amber-300: sp-color('amber', '300', $palette) !default; // #ffd54f
$colour-amber-400: sp-color('amber', '400', $palette) !default; // #ffca28
$colour-amber-500: sp-color('amber', '500', $palette) !default; // #ffc107
$colour-amber-600: sp-color('amber', '600', $palette) !default; // #ffb300
$colour-amber-700: sp-color('amber', '700', $palette) !default; // #ffa000
$colour-amber-800: sp-color('amber', '800', $palette) !default; // #ff8f00
$colour-amber-900: sp-color('amber', '900', $palette) !default; // #ff6f00
$colour-amber-a100: sp-color('amber', 'a100', $palette) !default; // #ffe57f
$colour-amber-a200: sp-color('amber', 'a200', $palette) !default; // #ffd740
$colour-amber-a400: sp-color('amber', 'a400', $palette) !default; // #ffc400
$colour-amber-a700: sp-color('amber', 'a700', $palette) !default; // #ffab00



// Orange colour
$colour-orange-50: sp-color('orange', '50', $palette) !default;  //#fff3e0
$colour-orange-100: sp-color('orange', '100', $palette) !default;  //#ffe0b2
$colour-orange-200: sp-color('orange', '200', $palette) !default;  //#ffcc80
$colour-orange-300: sp-color('orange', '300', $palette) !default;  //#ffb74d
$colour-orange-400: sp-color('orange', '400', $palette) !default;  //#ffa726
$colour-orange-500: sp-color('orange', '500', $palette) !default;  //#ff9800
$colour-orange-600: sp-color('orange', '600', $palette) !default;  //#fb8c00
$colour-orange-700: sp-color('orange', '700', $palette) !default;  //#f57c00
$colour-orange-800: sp-color('orange', '800', $palette) !default;  //#ef6c00
$colour-orange-900: sp-color('orange', '900', $palette) !default;  //#e65100
$colour-orange-a100: sp-color('orange', 'a100', $palette) !default;  //#ffd180
$colour-orange-a200: sp-color('orange', 'a200', $palette) !default;  //#ffab40
$colour-orange-a400: sp-color('orange', 'a400', $palette) !default;  //#ff9100
$colour-orange-a700: sp-color('orange', 'a700', $palette) !default;  //#ff6d00



// Deep orange colour
$colour-deep-orange-50: sp-color('deep-orange', '50', $palette) !default; //#fbe9e7
$colour-deep-orange-100: sp-color('deep-orange', '100', $palette) !default; //#ffccbc
$colour-deep-orange-200: sp-color('deep-orange', '200', $palette) !default; //#ffab91
$colour-deep-orange-300: sp-color('deep-orange', '300', $palette) !default; //#ff8a65
$colour-deep-orange-400: sp-color('deep-orange', '400', $palette) !default; //#ff7043
$colour-deep-orange-500: sp-color('deep-orange', '500', $palette) !default; //#ff5722
$colour-deep-orange-600: sp-color('deep-orange', '600', $palette) !default; //#f4511e
$colour-deep-orange-700: sp-color('deep-orange', '700', $palette) !default; //#e64a19
$colour-deep-orange-800: sp-color('deep-orange', '800', $palette) !default; //#d84315
$colour-deep-orange-900: sp-color('deep-orange', '900', $palette) !default; //#bf360c
$colour-deep-orange-a100: sp-color('deep-orange', 'a100', $palette) !default; //#ff9e80
$colour-deep-orange-a200: sp-color('deep-orange', 'a200', $palette) !default; //#ff6e40
$colour-deep-orange-a400: sp-color('deep-orange', 'a400', $palette) !default; //#ff3d00
$colour-deep-orange-a700: sp-color('deep-orange', 'a700', $palette) !default; //#dd2c00



// Brown colour
$colour-brown-50: sp-color('brown', '50', $palette) !default; // #efebe9
$colour-brown-100: sp-color('brown', '100', $palette) !default; // #d7ccc8
$colour-brown-200: sp-color('brown', '200', $palette) !default; // #bcaaa4
$colour-brown-300: sp-color('brown', '300', $palette) !default; // #a1887f
$colour-brown-400: sp-color('brown', '400', $palette) !default; // #8d6e63
$colour-brown-500: sp-color('brown', '500', $palette) !default; // #795548
$colour-brown-600: sp-color('brown', '600', $palette) !default; // #6d4c41
$colour-brown-700: sp-color('brown', '700', $palette) !default; // #5d4037
$colour-brown-800: sp-color('brown', '800', $palette) !default; // #4e342e
$colour-brown-900: sp-color('brown', '900', $palette) !default; // #3e2723



// Blue colour
$colour-blue-50: sp-color('blue', '50', $palette) !default; // #e3f2fd,
$colour-blue-100: sp-color('blue', '100', $palette) !default; // #bbdefb,
$colour-blue-200: sp-color('blue', '200', $palette) !default; // #90caf9,
$colour-blue-300: sp-color('blue', '300', $palette) !default; // #64b5f6,
$colour-blue-400: sp-color('blue', '400', $palette) !default; // #42a5f5,
$colour-blue-500: sp-color('blue', '500', $palette) !default; // #2196f3,
$colour-blue-600: sp-color('blue', '600', $palette) !default; // #1e88e5,
$colour-blue-700: sp-color('blue', '700', $palette) !default; // #1976d2,
$colour-blue-800: sp-color('blue', '800', $palette) !default; // #1565c0,
$colour-blue-900: sp-color('blue', '900', $palette) !default; // #0d47a1,
$colour-blue-a100: sp-color('blue', 'a100', $palette) !default; // #82b1ff,
$colour-blue-a200: sp-color('blue', 'a200', $palette) !default; // #448aff,
$colour-blue-a400: sp-color('blue', 'a400', $palette) !default; // #2979ff,
$colour-blue-a700: sp-color('blue', 'a700', $palette) !default; // #2962ff,




// Blue grey colour
$colour-blue-grey-50: sp-color('blue-grey', '50', $palette) !default; //#eceff1,
$colour-blue-grey-100: sp-color('blue-grey', '100', $palette) !default; //#cfd8dc,
$colour-blue-grey-200: sp-color('blue-grey', '200', $palette) !default; //#b0bec5,
$colour-blue-grey-300: sp-color('blue-grey', '300', $palette) !default; //#90a4ae,
$colour-blue-grey-400: sp-color('blue-grey', '400', $palette) !default; //#78909c,
$colour-blue-grey-500: sp-color('blue-grey', '500', $palette) !default; //#607d8b,
$colour-blue-grey-600: sp-color('blue-grey', '600', $palette) !default; //#546e7a,
$colour-blue-grey-700: sp-color('blue-grey', '700', $palette) !default; //#455a64,
$colour-blue-grey-800: sp-color('blue-grey', '800', $palette) !default; //#37474f,
$colour-blue-grey-900: sp-color('blue-grey', '900', $palette) !default; //#263238,





// light-blue colour
$colour-light-blue-50: sp-color('light-blue', '50', $palette) !default; // #e1f5fe
$colour-light-blue-100: sp-color('light-blue', '100', $palette) !default; // #b3e5fc
$colour-light-blue-200: sp-color('light-blue', '200', $palette) !default; // #81d4fa
$colour-light-blue-300: sp-color('light-blue', '300', $palette) !default; // #4fc3f7
$colour-light-blue-400: sp-color('light-blue', '400', $palette) !default; // #29b6f6
$colour-light-blue-500: sp-color('light-blue', '500', $palette) !default; // #03a9f4
$colour-light-blue-600: sp-color('light-blue', '600', $palette) !default; // #039be5
$colour-light-blue-700: sp-color('light-blue', '700', $palette) !default; // #0288d1
$colour-light-blue-800: sp-color('light-blue', '800', $palette) !default; // #0277bd
$colour-light-blue-900: sp-color('light-blue', '900', $palette) !default; // #01579b
$colour-light-blue-a100: sp-color('light-blue', 'a100', $palette) !default; // #80d8ff
$colour-light-blue-a200: sp-color('light-blue', 'a200', $palette) !default; // #40c4ff
$colour-light-blue-a400: sp-color('light-blue', 'a400', $palette) !default; // #00b0ff
$colour-light-blue-a700: sp-color('light-blue', 'a700', $palette) !default; // #0091ea




// cyan colour
$colour-cyan-50: sp-color('cyan', '50', $palette) !default; // #e0f7fa
$colour-cyan-100: sp-color('cyan', '100', $palette) !default; // #b2ebf2
$colour-cyan-200: sp-color('cyan', '200', $palette) !default; // #80deea
$colour-cyan-300: sp-color('cyan', '300', $palette) !default; // #4dd0e1
$colour-cyan-400: sp-color('cyan', '400', $palette) !default; // #26c6da
$colour-cyan-500: sp-color('cyan', '500', $palette) !default; // #00bcd4
$colour-cyan-600: sp-color('cyan', '600', $palette) !default; // #00acc1
$colour-cyan-700: sp-color('cyan', '700', $palette) !default; // #0097a7
$colour-cyan-800: sp-color('cyan', '800', $palette) !default; // #00838f
$colour-cyan-900: sp-color('cyan', '900', $palette) !default; // #006064
$colour-cyan-a100: sp-color('cyan', 'a100', $palette) !default; // #84ffff
$colour-cyan-a200: sp-color('cyan', 'a200', $palette) !default; // #18ffff
$colour-cyan-a400: sp-color('cyan', 'a400', $palette) !default; // #00e5ff
$colour-cyan-a700: sp-color('cyan', 'a700', $palette) !default; // #00b8d4




// teal colour
$colour-teal-50: sp-color('teal', '50', $palette) !default; // #e0f2f1
$colour-teal-100: sp-color('teal', '100', $palette) !default; // #b2dfdb
$colour-teal-200: sp-color('teal', '200', $palette) !default; // #80cbc4
$colour-teal-300: sp-color('teal', '300', $palette) !default; // #4db6ac
$colour-teal-400: sp-color('teal', '400', $palette) !default; // #26a69a
$colour-teal-500: sp-color('teal', '500', $palette) !default; // #009688
$colour-teal-600: sp-color('teal', '600', $palette) !default; // #00897b
$colour-teal-700: sp-color('teal', '700', $palette) !default; // #00796b
$colour-teal-800: sp-color('teal', '800', $palette) !default; // #00695c
$colour-teal-900: sp-color('teal', '900', $palette) !default; // #004d40
$colour-teal-a100: sp-color('teal', 'a100', $palette) !default; // #a7ffeb
$colour-teal-a200: sp-color('teal', 'a200', $palette) !default; // #64ffda
$colour-teal-a400: sp-color('teal', 'a400', $palette) !default; // #1de9b6
$colour-teal-a700: sp-color('teal', 'a700', $palette) !default; // #00bfa5




// green colour
$colour-green-50: sp-color('green', '50', $palette) !default; // #e8f5e9
$colour-green-100: sp-color('green', '100', $palette) !default; // #c8e6c9
$colour-green-200: sp-color('green', '200', $palette) !default; // #a5d6a7
$colour-green-300: sp-color('green', '300', $palette) !default; // #81c784
$colour-green-400: sp-color('green', '400', $palette) !default; // #66bb6a
$colour-green-500: sp-color('green', '500', $palette) !default; // #4caf50
$colour-green-600: sp-color('green', '600', $palette) !default; // #43a047
$colour-green-700: sp-color('green', '700', $palette) !default; // #388e3c
$colour-green-800: sp-color('green', '800', $palette) !default; // #2e7d32
$colour-green-900: sp-color('green', '900', $palette) !default; // #1b5e20
$colour-green-a100: sp-color('green', 'a100', $palette) !default; // #b9f6ca
$colour-green-a200: sp-color('green', 'a200', $palette) !default; // #69f0ae
$colour-green-a400: sp-color('green', 'a400', $palette) !default; // #00e676
$colour-green-a700: sp-color('green', 'a700', $palette) !default; // #00c853




// light-green colour
$colour-light-green-50: sp-color('light-green', '50', $palette) !default; // #f1f8e9
$colour-light-green-100: sp-color('light-green', '100', $palette) !default; // #dcedc8
$colour-light-green-200: sp-color('light-green', '200', $palette) !default; // #c5e1a5
$colour-light-green-300: sp-color('light-green', '300', $palette) !default; // #aed581
$colour-light-green-400: sp-color('light-green', '400', $palette) !default; // #9ccc65
$colour-light-green-500: sp-color('light-green', '500', $palette) !default; // #8bc34a
$colour-light-green-600: sp-color('light-green', '600', $palette) !default; // #7cb342
$colour-light-green-700: sp-color('light-green', '700', $palette) !default; // #689f38
$colour-light-green-800: sp-color('light-green', '800', $palette) !default; // #558b2f
$colour-light-green-900: sp-color('light-green', '900', $palette) !default; // #33691e
$colour-light-green-a100: sp-color('light-green', 'a100', $palette) !default; // #ccff90
$colour-light-green-a200: sp-color('light-green', 'a200', $palette) !default; // #b2ff59
$colour-light-green-a400: sp-color('light-green', 'a400', $palette) !default; // #76ff03
$colour-light-green-a700: sp-color('light-green', 'a700', $palette) !default; // #64dd17




// lime colour
$colour-lime-50: sp-color('lime', '50', $palette) !default; // #f9fbe7
$colour-lime-100: sp-color('lime', '100', $palette) !default; // #f0f4c3
$colour-lime-200: sp-color('lime', '200', $palette) !default; // #e6ee9c
$colour-lime-300: sp-color('lime', '300', $palette) !default; // #dce775
$colour-lime-400: sp-color('lime', '400', $palette) !default; // #d4e157
$colour-lime-500: sp-color('lime', '500', $palette) !default; // #cddc39
$colour-lime-600: sp-color('lime', '600', $palette) !default; // #c0ca33
$colour-lime-700: sp-color('lime', '700', $palette) !default; // #afb42b
$colour-lime-800: sp-color('lime', '800', $palette) !default; // #9e9d24
$colour-lime-900: sp-color('lime', '900', $palette) !default; // #827717
$colour-lime-a100: sp-color('lime', 'a100', $palette) !default; // #f4ff81
$colour-lime-a200: sp-color('lime', 'a200', $palette) !default; // #eeff41
$colour-lime-a400: sp-color('lime', 'a400', $palette) !default; // #c6ff00
$colour-lime-a700: sp-color('lime', 'a700', $palette) !default; // #aeea00




// yellow colour
$colour-yellow-50: sp-color('yellow', '50', $palette) !default; // #fffde7
$colour-yellow-100: sp-color('yellow', '100', $palette) !default; // #fff9c4
$colour-yellow-200: sp-color('yellow', '200', $palette) !default; // #fff59d
$colour-yellow-300: sp-color('yellow', '300', $palette) !default; // #fff176
$colour-yellow-400: sp-color('yellow', '400', $palette) !default; // #ffee58
$colour-yellow-500: sp-color('yellow', '500', $palette) !default; // #ffeb3b
$colour-yellow-600: sp-color('yellow', '600', $palette) !default; // #fdd835
$colour-yellow-700: sp-color('yellow', '700', $palette) !default; // #fbc02d
$colour-yellow-800: sp-color('yellow', '800', $palette) !default; // #f9a825
$colour-yellow-900: sp-color('yellow', '900', $palette) !default; // #f57f17
$colour-yellow-a100: sp-color('yellow', 'a100', $palette) !default; // #ffff8d
$colour-yellow-a200: sp-color('yellow', 'a200', $palette) !default; // #ffff00
$colour-yellow-a400: sp-color('yellow', 'a400', $palette) !default; // #ffea00
$colour-yellow-a700: sp-color('yellow', 'a700', $palette) !default; // #ffd600




// pink colour
$colour-pink-50: sp-color('pink', '50', $palette) !default; // #fce4ec,
$colour-pink-100: sp-color('pink', '100', $palette) !default; // #f8bbd0,
$colour-pink-200: sp-color('pink', '200', $palette) !default; // #f48fb1,
$colour-pink-300: sp-color('pink', '300', $palette) !default; // #f06292,
$colour-pink-400: sp-color('pink', '400', $palette) !default; // #ec407a,
$colour-pink-500: sp-color('pink', '500', $palette) !default; // #e91e63,
$colour-pink-600: sp-color('pink', '600', $palette) !default; // #d81b60,
$colour-pink-700: sp-color('pink', '700', $palette) !default; // #c2185b,
$colour-pink-800: sp-color('pink', '800', $palette) !default; // #ad1457,
$colour-pink-900: sp-color('pink', '900', $palette) !default; // #880e4f,
$colour-pink-a100: sp-color('pink', 'a100', $palette) !default; // #ff80ab,
$colour-pink-a200: sp-color('pink', 'a200', $palette) !default; // #ff4081,
$colour-pink-a400: sp-color('pink', 'a400', $palette) !default; // #f50057,
$colour-pink-a700: sp-color('pink', 'a700', $palette) !default; // #c51162,



// purple colour
$colour-purple-50: sp-color('purple', '50', $palette) !default; // #f3e5f5,
$colour-purple-100: sp-color('purple', '100', $palette) !default; // #e1bee7,
$colour-purple-200: sp-color('purple', '200', $palette) !default; // #ce93d8,
$colour-purple-300: sp-color('purple', '300', $palette) !default; // #ba68c8,
$colour-purple-400: sp-color('purple', '400', $palette) !default; // #ab47bc,
$colour-purple-500: sp-color('purple', '500', $palette) !default; // #9c27b0,
$colour-purple-600: sp-color('purple', '600', $palette) !default; // #8e24aa,
$colour-purple-700: sp-color('purple', '700', $palette) !default; // #7b1fa2,
$colour-purple-800: sp-color('purple', '800', $palette) !default; // #6a1b9a,
$colour-purple-900: sp-color('purple', '900', $palette) !default; // #4a148c,
$colour-purple-a100: sp-color('purple', 'a100', $palette) !default; // #ea80fc,
$colour-purple-a200: sp-color('purple', 'a200', $palette) !default; // #e040fb,
$colour-purple-a400: sp-color('purple', 'a400', $palette) !default; // #d500f9,
$colour-purple-a700: sp-color('purple', 'a700', $palette) !default; // #aa00ff,



// deep-purple colour
$colour-deep-purple-50: sp-color('deep-purple', '50', $palette) !default; // #ede7f6,
$colour-deep-purple-100: sp-color('deep-purple', '100', $palette) !default; // #d1c4e9,
$colour-deep-purple-200: sp-color('deep-purple', '200', $palette) !default; // #b39ddb,
$colour-deep-purple-300: sp-color('deep-purple', '300', $palette) !default; // #9575cd,
$colour-deep-purple-400: sp-color('deep-purple', '400', $palette) !default; // #7e57c2,
$colour-deep-purple-500: sp-color('deep-purple', '500', $palette) !default; // #673ab7,
$colour-deep-purple-600: sp-color('deep-purple', '600', $palette) !default; // #5e35b1,
$colour-deep-purple-700: sp-color('deep-purple', '700', $palette) !default; // #512da8,
$colour-deep-purple-800: sp-color('deep-purple', '800', $palette) !default; // #4527a0,
$colour-deep-purple-900: sp-color('deep-purple', '900', $palette) !default; // #311b92,
$colour-deep-purple-a100: sp-color('deep-purple', 'a100', $palette) !default; // #b388ff,
$colour-deep-purple-a200: sp-color('deep-purple', 'a200', $palette) !default; // #7c4dff,
$colour-deep-purple-a400: sp-color('deep-purple', 'a400', $palette) !default; // #651fff,
$colour-deep-purple-a700: sp-color('deep-purple', 'a700', $palette) !default; // #6200ea,



// indigo colour
$colour-indigo-50: sp-color('indigo', '50', $palette) !default; // #e8eaf6,
$colour-indigo-100: sp-color('indigo', '100', $palette) !default; // #c5cae9,
$colour-indigo-200: sp-color('indigo', '200', $palette) !default; // #9fa8da,
$colour-indigo-300: sp-color('indigo', '300', $palette) !default; // #7986cb,
$colour-indigo-400: sp-color('indigo', '400', $palette) !default; // #5c6bc0,
$colour-indigo-500: sp-color('indigo', '500', $palette) !default; // #3f51b5,
$colour-indigo-600: sp-color('indigo', '600', $palette) !default; // #3949ab,
$colour-indigo-700: sp-color('indigo', '700', $palette) !default; // #303f9f,
$colour-indigo-800: sp-color('indigo', '800', $palette) !default; // #283593,
$colour-indigo-900: sp-color('indigo', '900', $palette) !default; // #1a237e,
$colour-indigo-a100: sp-color('indigo', 'a100', $palette) !default; // #8c9eff,
$colour-indigo-a200: sp-color('indigo', 'a200', $palette) !default; // #536dfe,
$colour-indigo-a400: sp-color('indigo', 'a400', $palette) !default; // #3d5afe,
$colour-indigo-a700: sp-color('indigo', 'a700', $palette) !default; // #304ffe,

