
@include keyframes(fadeout) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@include keyframes(fadein) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@include keyframes(scaleup) {
  0% { @include transform(scale(1, 1)); }
  50% { @include transform(scale(1.2, 1.2)); }
}
