
@mixin animation($animate, $duration: .5, $ease: ease-in-out) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ', '};
    }
  }

  -webkit-animation: $animations #{$duration}s both $ease;
  -moz-animation: $animations #{$duration}s both $ease;
  -o-animation: $animations #{$duration}s both $ease;
  animation: $animations #{$duration}s both $ease;
}



@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}



@mixin transform($expression) {
  -ms-transform: $expression;
  -webkit-transform: $expression;
  transform: $expression;
}


@mixin webp($path, $extension) {
  background-image: url(' ../img/#{$path}.webp');

  .no-webp &,
  .no-webpalpha &,
  .no-webp-alpha &,
  .no-webp-animation &,
  .no-webp-lossless & {
    background-image: url(' ../img/#{$path}.#{$extension} ');
  }

}

// Use this in conjunction with fallback script
@mixin object-fit($expression) {
  object-fit: #{$expression};

  .no-objectfit & {
    background-position: center center;
    background-size: #{$expression};
    opacity: 0;
  }
}


@mixin calc($property, $expression, $fallback) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});

  .no-csscalc & {
    #{$property}: #{$fallback};
  }
}


@mixin font-size($size: $font-size-primary) {
  font-size: $size + rem;

  .no-cssremunit & {
    font-size: $size * 10 + px;
  }
}

@mixin margin($size: 6.5, $position: false) {
  @if $position == false {
    margin: $size + rem;

  } @else {

    @if $position == tb {
      margin-bottom: $size + rem;
      margin-top: $size + rem;

    } @else {
      margin-#{$position}: $size + rem;

    }

  }

  .no-cssremunit & {
    @if $position == false {
      margin: $size * 10 + px;

    } @else {

      @if $position == tb {
        margin-bottom: $size * 10 + px;
        margin-top: $size * 10 + px;

      } @else {
        margin-#{$position}: $size * 10 + px;

      }

    }
  }
}


// bottom left to top right
@mixin gradient($primary, $secondary) {
  background: $primary; /* Old browsers */

  .cssgradients & {
    background: -moz-linear-gradient(45deg,  $primary 0%, $secondary 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  $primary 0%, $secondary 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  $primary 0%, $secondary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$primary}', endColorstr='#{$secondary}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

}



@mixin linear-gradient($first-color, $second-color) {
  background-color: $second-color;
  background-image: -webkit-gradient(linear, left top, left bottom, from($first-color), to($second-color));
  background-image: -webkit-linear-gradient(top, $first-color, $second-color);
  background-image: -moz-linear-gradient(top, $first-color, $second-color);
  background-image: -ms-linear-gradient(top, $first-color, $second-color);
  background-image: -o-linear-gradient(top, $first-color, $second-color);
  background-image: linear-gradient(top, $first-color, $second-color);
}

@mixin box-shadow($x-ammount, $y-ammount, $blur-ammount, $spread-ammount, $color) {
  -moz-box-shadow: $x-ammount $y-ammount $blur-ammount $spread-ammount $color;
  -webkit-box-shadow: $x-ammount $y-ammount $blur-ammount $spread-ammount $color;
  box-shadow: $x-ammount $y-ammount $blur-ammount $spread-ammount $color;
}

@mixin box-shadow-inset($x-ammount, $y-ammount, $blur-ammount, $spread-ammount, $color) {
  -moz-box-shadow: inset $x-ammount $y-ammount $blur-ammount $spread-ammount $color;
  -webkit-box-shadow: inset $x-ammount $y-ammount $blur-ammount $spread-ammount $color;
  box-shadow: inset $x-ammount $y-ammount $blur-ammount $spread-ammount $color;
}

@mixin box-shadow-both($x-ammount, $y-ammount, $blur-ammount, $spread-ammount, $color, $x-ammount-last, $y-ammount-last, $blur-ammount-last, $spread-ammount-last, $color-last) {

  -moz-box-shadow: inset $x-ammount $y-ammount $blur-ammount $spread-ammount $color, $x-ammount-last $y-ammount-last $blur-ammount-last $spread-ammount-last $color-last;
  -webkit-box-shadow: inset $x-ammount $y-ammount $blur-ammount $spread-ammount $color, $x-ammount-last $y-ammount-last $blur-ammount-last $spread-ammount-last $color-last;
  box-shadow: inset $x-ammount $y-ammount $blur-ammount $spread-ammount $color, $x-ammount-last $y-ammount-last $blur-ammount-last $spread-ammount-last $color-last;
}


@mixin rotate($deg) {
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);

}


@mixin transition($transition, $speed, $transition-two: false, $speed-two: false) {
  @if $transition-two == false {
    -webkit-transition: $transition #{$speed}s ease;
    -moz-transition: $transition #{$speed}s ease;
    -o-transition: $transition #{$speed}s ease;
    -ms-transition: $transition #{$speed}s ease;
    transition : $transition #{$speed}s ease;

  } @else {
    -webkit-transition: $transition #{$speed}s, $transition-two #{$speed-two}s ease;
    -moz-transition: $transition #{$speed}s, $transition-two #{$speed-two}s ease;
    -o-transition: $transition #{$speed}s, $transition-two #{$speed-two}s ease;
    -ms-transition: $transition #{$speed}s, $transition-two #{$speed-two}s ease;
    transition: $transition #{$speed}s, $transition-two #{$speed-two}s ease;
  }

}


@mixin border-radius($top-left, $top-right: $top-left, $bottom-right: $top-left, $bottom-left: $top-left) {
  -moz-border-radius    : $top-left $top-right $bottom-right $bottom-left;
  -webkit-border-radius : $top-left $top-right $bottom-right $bottom-left;
  border-radius: $top-left $top-right $bottom-right $bottom-left;
}

