

// Generic class for blocks of content

.block {

  // --------------------------------------- //
  // Homepage
  &--services {
    text-align: center;

    &__icon {
      @include font-size($font-size-h2);
      border: 4px dashed $colour-white;
      display: inline-block;
      margin-bottom: $spacing-tertiary;
      min-height: 75px;
      min-width: 75px;
      padding: $spacing-secondary;
      text-align: center;
    }

    p { font-weight: $font-weight-light; }

  }



  &--current-work {

    &__title {
      color: $colour-pink-a200;
      margin-bottom: $spacing-quaternary;
      padding-top: $spacing-secondary;
    }

    .tiles__tile h3 { display: none; }
  }



  &--about {
    background: $colour-indigo-800;
    color: $colour-white-text;
    padding: $spacing-septenary $spacing-secondary;
    text-align: center;

    h2 { @include margin($font-size-h1, bottom); }
    p { font-weight: $font-weight-light; }
  }


  &--companies {
    padding: $spacing-septenary $spacing-secondary;
    text-align: center;

    h2 { @include margin($font-size-h1, bottom); }

  }



  &--work {
    background: $colour-teal-400;
    color: $colour-white-text;
    padding: $spacing-septenary $spacing-secondary;
    text-align: center;

    h2 { @include margin($font-size-h1, bottom); }

    p {
      @include margin($font-size-h1, bottom);
      font-weight: $font-weight-light;
    }

    &__icon {
      @include transition(transform, .3);
      @include border-radius(100%);
      @include font-size($font-size-h3);
      @include margin($font-size-h1, bottom);
      background: $colour-white;
      color: $colour-teal-400;
      display: inline-block;
      height: 120px;
      position: relative;
      text-align: center;
      width: 120px;

      &:before {
        bottom: 0;
        height: 26px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
      }


      &:hover {
        @include transform(scale(1.2, 1.2));
      }

    }

    &__link {
      color: $colour-white-text;
      position: relative;

      &:after {
        @include transition(border, .3);
        border-bottom: 1px solid $colour-transparent;
        bottom: -6px;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
      }

      &:hover {

        &:after {
          border-bottom-color: $colour-white;
        }

      }
    }
  }
  // Homepage
  // --------------------------------------- //
}
