

.feature-section {
  @extend %flexbox;
  height: 100%;
  margin-bottom: 0;
  min-height: 300px;

  &--office {
    @include webp('backgrounds/office', 'jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
  }

  &--code {
    @include webp('backgrounds/code', 'jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $colour-white-text;
    min-height: 400px;
    text-shadow: 0 2px 5px $colour-black;
  }

  &--runaway {
    @include webp('showcase/runaway-pets/runaway-pets-mobile-3d', 'png');
    @include transition(background-position, 1);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 140%;
    min-height: 500px;

    .ng-enter & {
      background-position: -100% center;
    }

  }


  &__text {
    align-self: center;
    line-height: 1.6;
    text-align: center;
    width: 100%;
  }

}


.feature-round {
  @include border-radius(100%);
  @include box-shadow(0, 1px, 10px, -3px, $colour-black);
  border: 5px solid $colour-grey-200;
  height: 200px;
  margin: $spacing-secondary auto;
  overflow: hidden;
  width: 200px;

  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

