
footer {
  @extend %clearfix;
  background: $colour-white;



  .#{&}__copy {
    @include font-size(1.2);
    font-weight: $font-weight-light;

    @include media(mobile, max) {
      display: inline-block;
      text-align: right;
      vertical-align: middle;
      width: 95px;
    }

    @include media(handhelds) {
      float: right;
    }
  }


  .#{&}__social {
    padding: $spacing-septenary;
    text-align: center;

    a {
      color: $colour-black-secondary-text;
      margin-right: $spacing-primary;

      &:last-child { margin-right: 0; }
    }

    i { @include font-size($font-size-h2); }
  }


}
