

.header {
  @extend %clearfix;
  background: rgba(255, 255, 255, .5);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;


  &__container {
    border-bottom: 1px solid $colour-black-dividers;
    margin: 0 auto;
    max-width: $screen-size-lap;
  }

  &__logo {
    display: inline-block;
    padding: $spacing-primary;
    vertical-align: middle;

    @include media(lap) {
      padding: $spacing-secondary;
    }
  }





  &__nav {
    @include calc(width, '100% - 76px', 80%);
    display: inline-block;
    vertical-align: middle;

    // @include media(mobile, max) {
    //   @include calc(width, '100% - 40px', 80%);
    // }

    @include media(lap) {
      @include calc(width, '100% - 92px', 80%);
    }

    ul {
      margin: 0;
      text-align: right;
    }

    li {
      display: inline-block;
      text-align: center;

      a {
        @include transition(color, .3);
        color: $colour-black-secondary-text;
        display: block;
        padding: $spacing-secondary $spacing-primary;
        text-transform: uppercase;

        @include media(mobile, max) {
          padding: $spacing-secondary $spacing-quinary;
        }

        @include media(lap) {
          padding: $spacing-tertiary $spacing-secondary;
        }

        &:hover { color: $colour-black-text; }
      }

      i {
        display: inline-block;
        padding: 0 $spacing-secondary $spacing-secondary;
      }

      span {
        display: block;

        @include media(mobile, max) {
          // display: none;
          @include font-size($font-size-milli);
        }

      }
    }

  }


}

