

.hero {
  @extend %flexbox;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  position: relative;

  &--home {
    @include webp('hero/hero-me-back', 'jpg');

    &:before {
      background: rgba(255, 255, 255, .4);
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }




  &__content {
    position: relative;
    text-align: center;
    z-index: 9;

    .btn { @include margin($font-size-h1, bottom); }
  }

  &__title {
    @include margin($font-size-h1, bottom);
    display: block;
    font-weight: $font-weight-medium;
    text-align: center;

    &--sub {
      @include font-size($font-size-h2);
      @include margin($font-size-h1, bottom);
      text-align: center;
    }
  }


  &__scroller {
    text-align: center;

    i {
      bottom: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      z-index: 99;
    }
  }

}
