

.landing {

  &__content {
    @extend %text-shadow;
    align-self: center;
    color: $colour-white-text;
    text-align: center;
    width: 100%;

    &__title {
      font-weight: $font-weight-ultra;
      margin-bottom: $spacing-secondary;
    }

    a {
      @include transition(color, .2);
      @include font-size(2);
      color: $colour-white-text;
      text-decoration: none;

      &:hover {
        color: $colour-white-secondary-text;
      }
    }

  }

}
