

.feature-logos {
  margin-left: 0;

  &__li {
    @include transition(opacity, .5);
    display: inline-block;
    opacity: .8;
    padding: 0 $spacing-secondary;
    vertical-align: middle;

    &:hover { opacity: 1; }
  }
}
