
.slider {

  &__container {
    position: relative;

    &--text {
      padding: $spacing-secondary;
      position: absolute;
      text-align: center;
      top: 30%;
      width: 100%;
    }
  }

}
