

.textfield {
  margin-bottom: $spacing-primary;
  padding: $spacing-secondary;
  position: relative;


  &__input {

    &.ng-empty {
      + .textfield__label {
        cursor: auto;
        top: 35px;
      }
    }

    &.ng-not-empty {
      + .textfield__label { color: $colour-black-secondary-text; }
    }

    &.ng-invalid.ng-dirty {
      border-bottom-color: $colour-red-600;
      color: $colour-red-600;
    }

    &.ng-valid.ng-dirty {
      border-bottom-color: $colour-teal-100;

      &:focus { border-bottom-color: $colour-teal-500; }
    }

    &:focus {
      + .textfield__label {
          color: $colour-black-text;
          top: -$spacing-primary;
        }
    }

  }


  &__label {
    @include transition(all, .3);
    cursor: default;
    left: $spacing-secondary * 2;
    position: absolute;
    top: -$spacing-primary;
  }

}
