
$website-background: (
  '(1)': $colour-teal-800,
  '(2)': $colour-teal-700,
  '(3)': $colour-teal-600,
  '(4)': $colour-teal-500,
  '(5)': $colour-teal-400,
  '(6)': $colour-teal-300
);


.tiles {
  text-align: center;


  &__tile {
    max-width: 500px;
    padding: 0;
    position: relative;
    text-align: center;

    .portfolio-page & { margin-bottom: $spacing-secondary; }


    // --------------------------------------------- //
    // Wrapper for content [a link]
    &__content {
      display: block;
      outline: none;
      overflow: hidden;
      position: relative;

      &:hover {

        &:after {
          background: rgba(0, 0, 0, .3);
        }

        img { @include transform(scale(1.05, 1.05)); }

        h3 {
          opacity: .9;
        }

      }

      &:after {
        @include transition(all, .5);
        background: $colour-transparent;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 0;
      }



    }


    img { @include transition(transform, .5); }


    h3 {
      @extend %clearfix;
      @include transition(all, .5);
      bottom: 0;
      color: $colour-white-text;
      font-weight: $font-weight-medium;
      height: 45px;
      left: 0;
      margin: auto;
      opacity: .4;
      padding: $spacing-primary;
      position: absolute;
      right: 0;
      text-align: center;
      // text-shadow: 0 1px 3px $colour-black;
      text-transform: uppercase;
      top: 0;
      width: 100%;
      z-index: 99;
    }


  }



}
