

.vid-background {
  margin-bottom: $spacing-secondary;
  overflow: hidden;
  position: relative;

  &__vid {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    @include media(handhelds, max) { display: none; }
  }

  &__text {
    background: rgba(255, 255, 255, .8);
    position: relative;
    z-index: 9;
  }

}
